In [5]:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

original_list = sorted(original_list, key = lambda i: 0 if i == 0 else -1/i)
print(original_list)

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

In [9]:
import numpy as np
import pandas as pd

data_df = pd.read_csv("JEOPARDY_DATA.csv")
print(data_df)
data_df.columns = data_df.columns.str.strip()
data_df = pd.get_dummies(data_df, columns=['Round'])
data_df['Value']=data_df['Value'].str.replace('$','').str.replace(' ','').str.replace(',','')
data_df['Value']=data_df['Value'].astype(float)

        Show Number    Air Date             Round  \
0              4680  12/31/2004         Jeopardy!
1              4680  12/31/2004         Jeopardy!
2              4680  12/31/2004         Jeopardy!
3              4680  12/31/2004         Jeopardy!
4              4680  12/31/2004         Jeopardy!
...             ...         ...               ...
216925         4999   5/11/2006  Double Jeopardy!
216926         4999   5/11/2006  Double Jeopardy!
216927         4999   5/11/2006  Double Jeopardy!
216928         4999   5/11/2006  Double Jeopardy!
216929         4999   5/11/2006   Final Jeopardy!

                               Category    Value  \
0                               HISTORY    $200
1       ESPN's TOP 10 ALL-TIME ATHLETES    $200
2           EVERYBODY TALKS ABOUT IT...    $200
3                      THE COMPANY LINE    $200
4                   EPITAPHS & TRIBUTES    $200
...                                 ...      ...
216925                   RIDDLE ME THIS  $2,000
216926                        "T" BIRDS  $2,000
216927           AUTHORS IN THEIR YOUTH  $2,000
216928                       QUOTATIONS  $2,000
216929                   HISTORIC NAMES      NaN

                                                 Question  \
0       For the last 8 years of his life, Galileo was ...
1       No. 2: 1912 Olympian; football star at Carlisl...
2       The city of Yuma in this state has a record av...
3       In 1963, live on "The Art Linkletter Show", th...
4       Signer of the Dec. of Indep., framer of the Co...
...                                                   ...
216925  This Puccini opera turns on the solution to 3 ...
216926  In North America this term is properly applied...
216927  In Penny Lane, where this "Hellraiser" grew up...
216928  From Ft. Sill, Okla. he made the plea, Arizona...
216929  A silent movie title includes the last name of...

                                Answer
0                           Copernicus
1                           Jim Thorpe
2                              Arizona
3                           McDonald's
4                           John Adams
...                                ...
216925                        Turandot
216926                      a titmouse
216927                    Clive Barker
216928                        Geronimo
216929  Grigori Alexandrovich Potemkin

[216930 rows x 7 columns]